{% extends 'base.html' %}
{% load bulma_tags %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <form action="" method="post" enctype="multipart/form-data" id="contact_submit">
                {% csrf_token %}
                {%csrf_token%}
                {{form|bulma}}
                <button type="submit" class="button is-link">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}