{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="성함 혹은 업체명을 입력해주세요">
                        <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
                        <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
                                <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
                                <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
                            </div>
                            <p class="help is-danger">This email is invalid</p>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">Phone</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-danger" type="email" placeholder="Phone nunber input">
                                <span class="icon is-small is-left">
<i class="fas fa-mobile-alt"></i>
          </span>
                                <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
                            </div>
                            <p class="help is-danger">This phone number is invalid</p>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">URL Type</label>
                            <div class="control">
                                <div class="select">
                                    <select>
                                        <option>Select dropdown</option>
                                        <option>With options</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-three-fifths">
                        <div class="field">
                            <label class="label">URL</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-success" type="text" placeholder="url">
                                <span class="icon is-small is-left">
      <i class="fas fa-home"></i>
    </span>
                                <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Service</label>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option>Select dropdown</option>
                                <option>With options</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Textarea"></textarea>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>


    {% endblock %}