{% extends "base.html" %}

{% load i18n %}
{% load bulma_tags %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="section">
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            <div class="box box-shadow-lift">
                <h1 class="title">{% trans "Sign In" %}</h1>
                {% get_providers as socialaccount_providers %}

                <p>{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

                <br/>
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|bulma }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <br />
                    <a class="button secondaryAction is-white" href="{% url 'account_reset_password' %}">
                        {% trans "Forgot Password?" %}</a>
                    <button class="button primaryAction is-warning" type="submit">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}